<span style="
				opacity: 50%;
				position: absolute;
				top: 40em;
				left: 50%;
				width: 40em;
				max-width: 100%;
				height: 40em;
				border-radius: 30%;
				display: block;
				background: radial-gradient(#198ba4aa 20%,#198ba455 100%);
				transform: translateX(-100%);
				will-change: transform;
				filter: blur(100px);
				z-index: -1;"></span>