---
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import GithubIcon from '../components/icons/Github.astro' 
---

<header class="fixed flex justify-between items-center py-5 px-20 bg-black backdrop-blur-lg bg-opacity-10 w-full mx-auto z-50 top-0">
    <ul class="hidden sm:flex flex-row gap-x-5 sm:hi">
        <li>
            <a target="_blank" href="https://www.linkedin.com/in/diegosm25/">
                <LinkedInIcon class="w-6 h-6"/>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/AbleEwe">
                <GithubIcon class="w-6 h-6"/>
            </a>
        </li>
    </ul>
    <nav class="flex flex-row gap-x-10">
        <a href="#top">Home</a>
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
    </nav>
</header>